<div class="shop-footer">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="footer-content">
          <div class="footer-top">
            <div class="container">
              <div class="row">
                <div class="col-5">
                  <div class="social">
                    <div class="social-title">FOLLOW US</div>
                    <div class="social-icons">
                      <div class="social-icon">
                        <img src="assets/icons/facebook.png">
                      </div>
                      <div class="social-icon">
                        <img src="assets/icons/twitter.png">
                      </div>
                      <div class="social-icon">
                        <img src="assets/icons/insta.png">
                      </div>
                      <div class="social-icon">
                        <img src="assets/icons/youtube.png">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-7">
                  <div class="subscription">
                    <div class="subscription-title">
                      RECEIVE OUR NEWSLETTER
                    </div>
                    <div class="subscription-box">
                      <input type="text" name="email" class="subscription">
                      <input type="button" name="subscribe" class="subscribe-button" value="Subscribe">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-separator"></div>
          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="footer-link-main"><a  routerLink="">VISITOR INFORMATION</a></div>
                  <div class="footer-link-sub"><a routerLink="shopping">SHOPPING</a></div>
                  <div class="footer-link-sub"><a routerLink="dining">DINING</a></div>
                  <div class="footer-link-sub"><a routerLink="guest-services">GUEST SERVICES</a></div>
                  <div class="footer-link-sub"><a routerLink="entertainment">ENTERTAINMENT</a></div>
                  <div class="footer-link-sub"><a routerLink="events">EVENTS</a></div>
                  <div class="footer-link-sub"><a routerLink="offers">OFFERS</a></div>
                </div>
                <div class="col">
                  <div class="footer-link-main"><a routerLink="careers">CAREER</a></div>
                  <div class="footer-link-main"><a routerLink="media">MEDIA</a></div>
                  <div class="footer-link-main"><a routerLink="about-us">ABOUT US</a></div>
                  <div class="footer-link-sub"><a routerLink="leasing">LEASING ENQUIRIES</a></div>
                  <div class="footer-link-sub"><a routerLink="privacy">PRIVACY POLICY</a></div>
                  <div class="footer-link-sub"><a routerLink="terms">TERMS & CONDITIONS</a></div>
                </div>
                <div class="col">
                  <div class="footer-link-main"><a routerLink="contact-us">CONTACT US</a></div>
                  <div class="footer-link-text">
                     <!-- Hyatt Plaza Shopping Mall Management Offices<br>  -->
          
                   <div>Hyatt Plaza Shopping Mall</div>
                   Doha,Qatar <br>
                  Tel:44999666, Fax: 44699454</div>
                  <div class="footer-link-text">Email: info@hyattplaza.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="footer-apps">
          <div class="apps-box">
            <div class="coming-soon-title">
              COMING SOON
            </div>
            <div class="app-icon">
              <img src="assets/icons/app-ios.png">
            </div>
            <div class="app-icon">
              <img src="assets/icons/app-android.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="footer-copyright">
  © 2019 Hyatt Mall. All rights reserved.
</div>