<section class="wrapper">
  <ul class="tabs">
    <li>Leasing</li>
    <li>
      Advertising
    </li>
  </ul>

  <ul class="tab__content">
    <li class="active">
      <div class="content__wrapper">
        <!-- NEWDROPDOWN -->

        <!-- NEWDORPTEST -->

    
        <!-- ANOTHERTEST -->
        <select id="ddlViewBy">
            <option value="1" selected="selected">Store</option>
          
              <option value="2" id="kisok" >Kiosk</option>
    
            <option value="3">Promotional space</option>
          </select>

       

 <!-- STORE -->
 <div class="cont-us" id="cont-us">
  <div class="form-sep">
    <form method="post" action="/" id="form" class="validate">
      <h4 class="brnd">Brand/Concept</h4>
      <div class="form-field">
        <label for="full-name">Brand/Concept name</label>
        <input type="text" name="full-name" id="full-name" required />
      </div>
      <div class="form-field">
        <label for="full-name">Franchise</label>
        <input
          class="fran"
          type="text"
          placeholder="Yes/No"
          name="full-name"
          id="full-name"
          required
        />
      </div>
      <div class="form-field">
        <label for="full-name">Country of orgin</label>
        <input type="text" name="full-name" id="full-name" required />
      </div>
      <div class="form-field">
        <label for="profile">Attached profile</label>
        <!-- <input
          class="file"
          type="file"
          name="pic"
          accept="image/*"
          required
        /> -->
        <label class="file">
          <input
            type="file"
            id="file"
            aria-label="File browser example"
          />
          <span class="file-custom"></span>
        </label>
      </div>

      <br />
      <h4 class="brnd">Company details</h4>
      <div class="form-field">
        <label for="full-name">Company name *</label>
        <input type="text" name="full-name" id="full-name" required />
      </div>
      <div class="form-field">
        <label for="full-name">Address</label>
        <input type="text" name="full-name" id="full-name" required />
      </div>

      <div class="form-field">
        <label for="full-name">Website</label>
        <input type="text" name="full-name" id="full-name" required />
      </div>

      <br />
      <h4 class="brnd">Contact person</h4>
      <div class="form-field">
        <label for="full-name">Name *</label>
        <input type="text" name="full-name" id="full-name" required />
      </div>
      <div class="form-field">
        <label for="full-name">Mobile number *</label>
        <input type="number" name="full-name" id="full-name" required />
      </div>

      <div class="btns">
        <button class="tnt-btn">RESET</button>
        <button class="tnt-btn2">APPLY NOW</button>
      </div>
    </form>
  </div>
</div>
<!-- EndSTORE -->

        <!-- KISOKFORM -->
        <div class="cont-us" id="anj">
            <div class="form-sep">
                <form method="post" action="/" id="form" class="validate">
                  <!-- DropDown -->
    
                  <!-- EndDropDown -->
    
                  <h4 class="brnd">Brand/Concept</h4>
                  <div class="form-field">
                    <label for="full-name">Brand/Concept name</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
                  <div class="form-field">
                    <label for="full-name">Franchise</label>
                    <input
                      class="fran"
                      type="text"
                      placeholder="Yes/No"
                      name="full-name"
                      id="full-name"
                      required
                    />
                  </div>
                  <div class="form-field">
                    <label for="full-name">Country of orgin</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
                  <div class="form-field">
                    <label for="profile">Attached profile</label>
                    <!-- <input
                      class="file"
                      type="file"
                      name="pic"
                      accept="image/*"
                      required
                    /> -->
                    <label class="file">
                      <input
                        type="file"
                        id="file"
                        aria-label="File browser example"
                      />
                      <span class="file-custom"></span>
                    </label>
                  </div>
    
                  <br />
                  <h4 class="brnd">Company details</h4>
                  <div class="form-field">
                    <label for="full-name">Company name *</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
                  <div class="form-field">
                    <label for="full-name">Address</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
    
                  <div class="form-field">
                    <label for="full-name">Website</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
    
                  <br />
                  <h4 class="brnd">Contact person</h4>
                  <div class="form-field">
                    <label for="full-name">Name *</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
                  <div class="form-field">
                    <label for="full-name">Mobile number *</label>
                    <input type="number" name="full-name" id="full-name" required />
                  </div>
    
                  <div class="btns">
                    <button class="tnt-btn">RESET</button>
                    <button class="tnt-btn2">APPLY NOW</button>
                  </div>
                </form>
              </div>
         </div>
         <!-- ENDKISOKFORM -->


         <!-- PROMOTINOL SPACE -->
        <div class="cont-us" id ="precious">
            <!-- <div class="form-sep">
                <form method="post" action="/" id="form" class="validate">
                 
    
                  <h4 class="brnd">Brand/Concept</h4>
                  <div class="form-field">
                    <label for="full-name">Brand/Concept name</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
                  
                  
                  
         <br />
                  <h4 class="brnd">Company details</h4>
                  <div class="form-field">
                    <label for="full-name">Company name *</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
                  <div class="form-field">
                    <label for="full-name">Address</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
    
                  <div class="form-field">
                    <label for="full-name">Website</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
    
                  <br />
                  <h4 class="brnd">Contact person</h4>
                  <div class="form-field">
                    <label for="full-name">Name *</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
                  <div class="form-field">
                    <label for="full-name">Mobile number *</label>
                    <input type="number" name="full-name" id="full-name" required />
                  </div>
    
                  <div class="btns">
                    <button class="tnt-btn">RESET</button>
                    <button class="tnt-btn2">APPLY NOW</button>
                  </div>  
                </form>
              </div> -->
        
              <div class="form-sep">
                <form method="post" action="/" id="form" class="validate">
                 
    
                  <h4 class="brnd">Brand/Concept</h4>
                  <div class="form-field">
                    <label for="full-name">Brand/Concept name</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>

                  <div class="disabled">
                  <div class="form-field" >
                    <label for="full-name">Franchise</label>
                    <!-- <input
                    disabled
                      class="fran"
                      type="text"
                      placeholder="Yes/No"
                      name="full-name"
                      id="full-name"
                      required
                    /> -->
                  </div>
                  <div class="form-field" >
                    <label for="full-name">Country of orgin</label>
                    <!-- <input 	disabled type="text" name="full-name" id="full-name" required /> -->
                  </div>
                  <div class="form-field " >
                    <label  for="profile" class="">Attached profile</label>
                   
                    <!-- <label class="file  " 	disabled>
                      <input
                        type="file"
                        id="file"
                        aria-label="File browser example"
                        disabled
                        class=" "
                      />
                      <span class="file-custom "></span>
                    </label> -->
                  </div>
                  </div>
    
                  <br />
                  <h4 class="brnd">Company details</h4>
                  <div class="form-field">
                    <label for="full-name">Company name *</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
                  <div class="form-field">
                    <label for="full-name">Address</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
    
                  <div class="form-field">
                    <label for="full-name">Website</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
    
                  <br />
                  <h4 class="brnd">Contact person</h4>
                  <div class="form-field">
                    <label for="full-name">Name *</label>
                    <input type="text" name="full-name" id="full-name" required />
                  </div>
                  <div class="form-field">
                    <label for="full-name">Mobile number *</label>
                    <input type="number" name="full-name" id="full-name" required />
                  </div>
    
                  <div class="btns">
                    <button class="tnt-btn">RESET</button>
                    <button class="tnt-btn2">APPLY NOW</button>
                  </div>
                </form>
              </div>
        
            </div>
<!-- ENDPROMOSPACE -->
        
      </div>
    </li>
    <li>
      <div class="content__wrapper">
        <!-- Form -->
        <div class="cont-us">
          <div class="form-sep2">
            <h6 class="dwn">
              Download hyattplaza advertisementkit to<br />
              know more about the available advertisement location
            </h6>
            <form method="post" action="/" id="form" class="validate">
              <div class="form-field">
                <label for="full-name">Name</label>
                <input type="text" name="full-name" id="full-name" required />
              </div>
              <div class="form-field">
                <label for="full-name">Company</label>
                <input type="text" name="full-name" id="full-name" required />
              </div>
              <div class="form-field">
                <label for="full-name">Email</label>
                <input type="email" name="full-name" id="full-name" required />
              </div>
              <div class="form-field">
                <label for="profile">Mobile number</label>
                <input type="number" name="full-name" id="full-name" required />
              </div>
              <div class="dwn">
                <button class="tnt-btn3">CLICK TO DOWNLOAD</button>
              </div>
            </form>
          </div>
        </div>

        <br />

        <!-- EndForm -->
      </div>
    </li>
  </ul>
</section>
